body {
  background-color:#F1F5FB
}
table {
  text-align:left
}
.r1 {
  text-indent:-23px;
  padding-left:23px;
  background-color:white;
}
.r2 {
  text-indent:-23px;
  padding-left:23px;
  background-color:#B3C8E8;
}
.r1disabled {
  text-indent:-23px;
  padding-left:23px;
  background-color:white;
  color:#808080
}
.r2disabled {
  text-indent:-23px;
  padding-left:23px;
  background-color:#DDDDDD;
  color:#808080;
}
select {
  margin:0px;
  padding:0px;
}
input[type="text"] {
  margin:0px;
}
.button_on {
  background-image:url("../artwork/2007_button_on.png");
}
.button_over {
  background-image:url("../artwork/2007_button_over.png");
}
.button_off {
  background-image:none;
}