body {
  background-color: #F0F0F0;
}
table {
  text-align: left;
}
#modules_list input[type="checkbox"] {
  margin-left: 22px;
}
#labs_list input[type="checkbox"] {
  margin-left: 22px;
}
.r1 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
}
.r2 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #FFBD69;
}
.r1disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
  color: #808080
}
.r2disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #DDDDDD;
  color: #808080;
}
extarea, input[type=text], select, textarea, input[type=password] {
  border: 1px solid #ABADB3;
}
.headbar {
  background-color: #EEEEEE;
	border-bottom: 1px solid #E2E4E7;
}
.tab {
  height: 25px;
  padding-left: 6px;
  cursor: default;
}
.tab:hover {
  background-color: #FFE7A2;
}
.tabon {
  height: 25px;
  padding-left: 6px;
  cursor: default;
  background-color: #FFBD69;
}
.tabtitle {
	background-color: #C2D5F3;
	height: 49px;
	font-size: 110%;
	padding-left: 16px;
}
.tabtitle img {
	width: 34px;
	height: 34px;
	padding-right: 10px;
}
.cancel {
  margin-right: 0;
}
.greySkin table.mceLayout {
  border-left: 0 !important;
  border-right: 0 !important;
}
.greySkin table.mceLayout tr.mceLast td {
  border-bottom: 0 !important;  
}