# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to LF line endings on checkout.
*.php eol=lf
*.inc eol=lf
