<div class="{{ data.classes }}" role="menuitem" {% if data.disabled %}aria-disabled="true" {% endif %} {% if
    data.hasPopup %}aria-haspopup="true" {% endif %} {% if data.id %}id="{{ data.id }}" {% endif %} {% for key, value in
    data.data_attributes %} data-{{ key }}="{{ value }}" {% endfor %}>
    <a href="{{ data.href }}" tabindex="{{ data.tabindex|default(0) }}">
        {% if data.icon %}
        <img class="sidebar_icon" src="{{ data.icon }}" alt="" />
        {% endif %}
        {{ data.text }}
    </a>
    {% if data.submenu %}
    <ul class="submenu">
        {% for item in data.submenu %}
        {% if item.type == 'separator' %}
        <li class="submenu-separator">
            <hr />
        </li>
        {% else %}
        <li><a href="{{ item.href }}" class="submenu-item">{{ item.text }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>