{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the area question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.unanswered - has the question previously been attempted
data.questionno - the question number
data.mediawidth - width of the media
data.mediaheight - height of the media
data.language - language the media uses
data.mediafile - the media file
data.areadisplay - the correct answer
data.areauseranswer - the region drawn previously by the user
data.areafulluseranswer - the full answer the user provided
#}
<br />
{% if data.print %}
<div align="left">
{% include 'paper/media.html' %}
</div>
{% else %}
<div align="left" {% if data.unanswered %} class="unans" style="padding:2px"{% endif %}>
    <canvas class="area" id="canvas{{data.questionno}}"
            data-qno="{{data.questionno}}"
            data-qmedia="{{data.mediafile}}"
            data-qcorrect="{{data.areadisplay}}"
            data-user="{{data.areauseranswer}}"
            data-marking="1"
            width="{{data.mediawidth + 2}}px" height="{{data.mediaheight + 27}}px"></canvas>
    <br />
    <div style="width:100%;text-align: left;" id="canvasbox"></div>
</div>
<input type="hidden" name="q{{data.questionno}}" id="q{{data.questionno}}" value="{{data.areafulluseranswer}}"/>
{% endif %}
