<br />
<div align="left" {% if data.get('unanswered') %} class="unans" style="padding:2px"{% endif %}>
    <!-- ======================== HTML5 part include disp ================= -->
    <canvas id='canvas{{data.get('questionno')}}' width='{{data.get('mediawidth')}}' height='{{data.get('mediaheight')}}'></canvas>
    <br />
    <div style='width:100%;text-align: left;' id='canvasbox'></div>
    <script>
        setUpQuestion("{{data.get('questionno')}}", 'q{{data.get('questionno')}}','{{data.get('language')}}', '{{data.get('mediafile')}}', '{{data.areadisplay}}', '{{data.areauseranswer}}',1,'#FFC0C0','area','answer');
    </script>
    <!-- ==================================================== -->
</div>
<input type="hidden" name="q{{data.get('questionno')}}" id="q{{data.get('questionno')}}" value="{{data.areafulluseranswer}}"/>