<blockquote>
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td align="center" width="40" style="color:{{data.labelcolour}}; font-size:90%">
{% if data.dichotomous_type == 'TF' %}
                {{lang.true}}
{% else %}
                {{lang.yes}}
{% endif %}
            </td>
            <td width="40" align="center" style="color:{{data.labelcolour}};font-size:90%">
{% if data.dichotomous_type == 'TF' %}
                {{lang.false}}
{% else %}
                {{lang.no}}
{% endif %}
            </td>
{% if data.dichotomous_display_method == 1 %}
            <td width="40" align="center" style="color:{{data.labelcolour}}; font-size:90%">
                {{lang.abstain}}
            </td>
            <td>&nbsp;</td>
{% endif %}
        </tr>
{% for i,p in data.option %}
        <tr id="q{{p.question_no}}_opt{{p.dichotomouspartid}}" {% if p.unanswered %} class="unans"{% endif %}>
            <td align="center">
                <input type="radio" name="{{p.option_no}}" value="t" {% if p.dichotomoususeranswer == 't' %} checked="checked" {% endif %}/>
            </td>
            <td align="center">
                <input type="radio" name="q{{p.question_no}}_{{p.tmp_part_id}}" value="f" {% if p.dichotomoususeranswer == 'f' %} checked="checked" {% endif %}/>
            </td>
    {% if p.dichotomousabstain %}
            <td align="center">
                <input type="radio" name="{{p.option_no}}" value="a" {% if p.dichotomoususeranswer == 'a' %} checked="checked" {% endif %}/>
            </td>
    {% endif %}
            <td>
    {% if p.optiontext != '' %}
                {{p.optiontext}}<br />
    {% endif %}
    {% if p.displayoptionmedia %}
                {% include 'paper/media.html' with {'data': p.optionmedia} %}
    {% endif %}
            </td>
        </tr>
{% endfor %}
    </table>
</blockquote>