{% if data.get('extmatchdisplaymedia') %}
<p align="center">
    {% include 'paper/media.html' %}
</p>
{% endif %}
<table class="extmatch_opt_table">
    <tr>
        <td>
            <ol>
{% for o in data.get('matchoptions') %}
                <li>{{o}}</li>
    {% if loop.index0 == data.get('split') %}
            </ol>
        </td>
        <td style="vertical-align:top">
            <ol start="{{loop.index0 + 2}}">
    {% endif %}
{% endfor %}
            </ol>
        </td>
    </tr>
</table>
<ol class="extmatch">
{% for m in data.get('matchstem') %}
<li>
    <div>{{m.scenario|raw}}</div>
    {% if m.display %}
    <div>{% include 'paper/optmedia.html' with {'data': m.media} %}</div><br />
    {% endif %}
    {% if m.answer_no == 1 %}
    <select {% if m.unanswered %} class="unans" {% endif %} name="q{{data.get('questionno')}}_{{loop.index}}" size="1">
        <option value="u"></option>
    {% else %}
    <br />
    <div class="option">
        <select {% if m.unanswered %} class="unans" {% endif %} onchange="multimatchingCheck('q{{data.get('questionno')}}_{{loop.index}}',"{{m.matching_options}}","{{m.sub_answers}}");" name="q{{data.get('questionno')}}_{{loop.index}}"[]" id="q{{data.get('questionno')}}_{{loop.index}}" multiple="multiple" size="{{m.list_size}}">
    {% endif %}
    {% for o in m.matching_option %}
            <option value="{{o.value}}" {% if o.selected %} selected {% endif %}>{{o.option}}</option>
    {% endfor %}
        </select>
    {% if m.answer_no > 1 %}
        <div class="mk">{{lang.holddownctrlkey}}</div>
    {% endif %}
    </div>
</li>
{% endfor %}
</ol>
<input type="hidden" name="multimatching{{data.get('questionno')}}_options" value="{{data.get('matchoptionsno')}}" />