<div align="center">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="https://fpdownload.macromedia.com/get/shockwave/cabs/flash/swflash.cab" id="flash{{data.question_no}}" width="{{data.mediawidth}}" height="{{data.mediaheight}}" align="middle">
    <param name="wmode" value="opaque" />
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="{{data.mediaurl}}" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="{{data.bgcolor}}" />
{% if data.displayscenario %}
    <param name="FlashVars" value="{{data.scenario}}">
{% endif %}
    <embed style="z-index:0;" src="{{data.mediaurl}}";{% if data.displayscenario %} FlashVars="{{data.scenario}}";{% endif %} wmode="opaque"
            quality="high" bgcolor="{{data.bgcolor}}" width="{{data.mediawidth}}" height="{{data.mediaheight}}" swLiveConnect=true id="flash{{data.question_no}}"
            name="flash{{data.question_no}}" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
            pluginspage="https://get.adobe.com/flashplayer/" />
    </object>
</div>
<input type="hidden" name="q{{data.question_no}}" value="0,0" />