<div align="left">
    <!-- ======================== HTML5 part include disp ================= -->
    <canvas id='canvas{{data.get('questionno')}}' width='{{data.get('mediawidth')}}' height='{{data.get('mediaheight')}}'></canvas>
    <br /><div style='width:100%;text-align: left;' id='canvasbox'></div>
    <script>
        setUpQuestion("{{data.get('questionno')}}",
        'flash{{data.get('questionno')}}',
        '{{data.get('language')}}',
        '{{data.get('mediafile')}}',
        '{{data.tmpcorrect}}',
        '{{data.useranswer}}',
        '{{data.screensubmitted}}','#FFC0C0','hotspot','answer');
    </script>
    <!-- ==================================================== -->
</div>
<input type="hidden" name="q{{data.get('questionno')}}" id="q{{data.get('questionno')}}" {% if data.get('unanswered') %} value="u" {% else %} value="{{data.useranswer}}" {% endif %}/>