<div align="left">
    <!-- ======================== HTML5 part include disp ================= -->
    <canvas class="labelling" id="canvas{{data.question_no}}" width="{{data.mediawidth}}" height="{{data.mediaheight}}"></canvas>
    <br /><div id="canvasbox"></div>
    <script>
    setUpQuestion("{{data.question_no}}",
    'flash{{data.question_no}}',
    '{{data.langauge}}',
    '{{data.mediafile}}',
    '{{data.tmpcorrect}}', 
    '{{data.useranswer}}',
    '{{data.marks_correct}}~{{data.marks_incorrect}}~{{data.score_method}}',
    '#FFC0C0',
    'labelling',
    'answer');
    </script>
    <!-- ==================================================== -->
</div>
<input type="hidden" name="q{{data.question_no}}" id="q{{data.question_no}}" {% if data.unaswered %} value="0{{data.marks}}" {% else %} value="{{data.useranswer}}" {% endif %}/>