</table>
<table cellpadding="4" cellspacing="0" border="0">
    <col width="40"><col>
{% if data.displaylikertnotes %}
    <tr>
        <td></td>
        <td colspan="{data.likertnotescolspan}}" class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="Note" />
            &nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </td>
    </tr>
{% endif %}
{% if data.displaylikertscenario %}
    <tr>
        <td colspan="{data.likertscenariocolspan}}">
            {{data.scenario|raw}}
        </td>
    </tr>
{% endif %}
    <tr>
        <td></td>
        <td></td>
{% if data.likertna %}
        <td style="vertical-align:bottom; text-align:center; color:{{data.labelcolour}}; font-size:80%">
            {{lang.na}}
        </td>
{% endif %}
{% for i in data.likertdisplay %}
        <td style="vertical-align:bottom; text-align:center; color:{{data.labelcolour}}; font-size:80%">
            {{i|raw}}
        </td>
{% endfor %}
    </tr>
    <tr {% if data.unanswered %} class="unans" {% endif %}>
        <td class="q_no">{{data.assigned_number}}.&nbsp;</td><td>{{data.leadin|raw}}</td>
{% if data.likertscaledisplay %}
        <td style="text-align:center; width:40px; vertical-align:top">
            <input type="radio" name="q{{data.likertoptionid}}" value="n/a" {% if data.likertscalena %}  checked="checked" {% endif %}/>
        </td>
{% endif %}
{% for i,selected in data.likertscale %}
        <td class="likert_button">
            <input type="radio" name="q{{data.likertoptionid}}" value="{{i}}" {% if selected %} checked=\"checked\" {% endif %}/>
        </td>
{% endfor %}
    </tr>