<blockquote {% if data.get('unanswered') %} class="unans" {% endif %}>
    <table cellpadding="2" cellspacing="0" border="0">
{% if data.get('papertype') == 3 %}
    {% for i,p in data.option %}
    <tr>
        <td>
            <input type="checkbox" name="q{{data.get('questionno')}}_{{i}}" id="q{{data.get('questionno')}}_{{i}}" value="y" {% if p.selected %} checked="checked" {% endif %}/>
        </td>
        <td>
        {% if p.optiontextdisplay %}
        <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.get('questionno')}}_{{i}}"> {{p.optiontext|raw}}</span></br>
        {% endif %}
        {% if p.displayoptionmedia %}
            {% include 'paper/media.html' with {'data': p.optionmedia} %}
        {% endif %}
        </td>
    </tr>
    {% endfor %}
{% else %}
    {% for i,p in data.option %}
    <tr>
        <td>
            <input type="checkbox" onclick="MRQ({{data.get('questionno')}},{p.tmppartid},{p.optionno},{p.mrq_correct};" name="q{{data.get('questionno')}}_{{i}}" id="q{{data.get('questionno')}}_{{i}}" value="y" {% if p.selected %} checked="checked" {% endif %} />
        </td>
        <td>
            {% if p.optiontextdisplay %}
            <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{data.get('questionno')}}_{{i}}"> {{p.optiontext|raw}}</span></br>
            {% endif %}
            {% if p.displayoptionmedia %}
                {% include 'paper/media.html' with {'data': p.optionmedia} %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
{% endif %}
{% if data.displaymethod == 'other' %}
    <tr>
        <td>
            <input type="checkbox" name="q{{data.get('questionno')}}_{{data.get('partid')}}" value="y" {% if data.get('otherselected') %} checked="checked" {% endif %}/>
        </td>
        <td>{{lang.other}} 
            <input type="text" onkeypress="document.questions.q{{data.get('questionno')}}_{{data.get('partid')}}.checked=true" name="q{{data.get('questionno')}}_other" value="{{data.get('other')}}" />
        </td>
    </tr>
{% endif %}
{% if data.get('negativemarking') %}
    <tr>
        <td>
            <input type="checkbox" onclick="MRQabstain({{data.get('questionno')}},{{data.get('optionno')}});" name="q{{data.get('questionno')}}_abstain" id="q{{data.get('questionno')}}_abstain" value="y" {% if data.get('abstainselected') %} checked="checked" {% endif %} />
        </td>
        <td>
            <span style="color:{{data.get('labelcolour')}}">&lt;{{lang.abstain}}&gt;</span>
        </td>
    </tr>
{% endif %}
</table>
<div>
    <input type="hidden" name="dismiss{{data.get('questionno')}}" id="dismiss{{data.get('questionno')}}" value="{{data.get('dismiss')}}" />
</div>
</blockquote>