{% if data.displaysctscenario %}
<tr>
    <td class="question_no">
        {{data.assigned_number}}.&nbsp;
    </td>
    <td style="width:49%; background-color:#E4EEFC; border-bottom:1px solid #B5C4DF; font-weight:bold; padding:2px; color:#000040">
        {{lang.clinicalvignette}}
    </td>
</tr>
<tr>
    <td style="vertical-align:top; text-align:right">
    {% if data.displaysctcalc %}
        <br />
        <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
    {% endif %}
    </td>
    <td>
        {% if data.displaysctnotes %}
        <p class="note">
         <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="{{lang.note}}" />&nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </p>
        {% endif %}
    {{data.scenario|raw}}<br />
    <br />
{% endif %}
{% if data.displaysctmedia %}
    {% if data.sctheaderset  == false %}
<tr>
    <td class="question_no">
        {{data.assigned_number}}.&nbsp;
        {% if data.displaysctcalc %}
        <br />
        <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
        {% endif %}
    </td>
    <td>
    {% endif %}
        <p align="center">
            {% include 'paper/media.html' %}
        </p>
{% endif %}
<table cellpadding="2" cellspacing="0" border="0" style="width:100%">
    <tr>
        <td style="width:49%; background-color:#E4EEFC; border-bottom:1px solid #B5C4DF; font-weight:bold">
            {{data.scttitle}}
        </td>
        <td style="width:2%">&nbsp;</td>
        <td style="width:49%; background-color:#E4EEFC; border-bottom:1px solid #B5C4DF; font-weight:bold">
            {{lang.newinformation}}
        </td>
    </tr>
    <tr>
        <td style="width:49%; vertical-align:top">
            {{data.sctpart0|raw}}
        </td>
        <td style="width:2%">&nbsp;</td>
        <td style="width:49%; vertical-align:top">
            {{data.sctpart1|raw}}
        </td>
    </tr>
</table>
<p>
    <strong>
        {{data.scttitlelower}}
    </strong>
</p>
<blockquote {% if data.unaswered %} class="unans" {% endif %}>
    <table cellpadding="2" cellspacing="0" border="0">
{% for i,p in data.option %}
        <tr>
            <td>
                <input type="radio" name="q{{data.question_no}}" value="{{data.tmp_part_id}}" {% if p.selected %} checked="checked" {% endif %} />
            </td>
            <td>
    {% if p.optiontextdisplay %}
                <span {% if p.inact %} class="inact" {% else %} class="act" {% endif %} id="{{p.option_no}}">{{p.optiontext}}</span>
            </td>
        </tr>
    {% endif %}
{% endfor %}