{#This file is part of Rogō

 Rogō is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Rogō is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Rogō.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the paper header display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables - 
data.action - form to post data to
data.previewmode - are we in question preview mode
data.papertitle - paper title
data.screen - screen display info
data.logopath - path to site logo
data.print - flag to indicate if the question is being printed
#}
<div id="maincontent">
    <div class="questions">
{% if data.print == 0 %}
        <form method="post" id="qForm" name="questions" action="{{data.action}}" autocomplete="off">
    {% for number,id in data.hidden %}
            <input type="hidden" name="q{{number}}_randomID" value="{{id}}" />
    {% endfor %}
            <div>
    {# Not all information shown on question preview #}
    {% if data.previewmode %}
                <div>
    {% else %}
                    <div>
                        <header class="headerbar">

                            <div>
                                <h1 class="paper">{{data.papertitle}}</h1>
                                {% for s in data.screen %}
                                    {% if s.screentype == 'scr_cur' %}
                                    {% set current = s.pageno %}
                                <div aria-label="{{lang.examprogress}}" role="progressbar" aria-valuenow="{{current}}" aria-valuetext="{{lang.youronscreen}} {{current}} {{lang.screenof | format(data.screen|length)}}" aria-valuemin="1" aria-valuemax="{{data.screen|length - 1}}">
                                    {% endif %}
                                {% endfor %}
                                {% for s in data.screen %}
                                    <div aria-hidden="true" class="{{s.screentype}}" title="{{s.noquestions}} {{s.noquestionsclass}}">
                                        {{s.pageno}}
                                    </div>
                                {% endfor %}
                                </div>
                                <div style="clear:both"></div>
                                {% for s in data.screen %}
                                <div class="{{s.screentype2}}"></div>
                                {% endfor %}
                                </div>

                            <div>
                                <img src="{{data.logopath}}" width="160" height="67" alt="Logo" />
                            </div>
                        </header>
    {% endif %}
    {% if data.examclarification != '' %}
                        <aside aria-label="{{lang.questionclarification}}">
                            {{data.examclarification|raw}}
                        </aside>
    {% endif %}
{% else %}
        <div>
            <div>
                <header class="headerbar">
                    <div>
                        <h1 class="paper">{{data.papertitle}}</h1>
                        <div style="clear:both"></div>
                    </div>
                    <div>
                        <img src="{{data.logopath}}" width="160" height="67" alt="Logo" />
                    </div>
                </header>
{% endif %}
                <main class="questionarea">
