{% if data.get('mediaid') != -1 %}
<div id="media{{data.get('mediaid')}}" class="media">
{% endif %}
{% if data.get('mediatype') == 2 %}
    <img src="{{data.get('mediaurl')}}" width="{{data.get('mediawidth')}}" height="{{data.get('mediaheight')}}" alt="Image"
    {% if data.get('mediaborder') %} 
     style="border: 1px solid {{data.get('mediabordercolour')}}"
    {% endif %}
     />
{% elseif data.get('mediatype') == 3 %}
    <img src="audio_icon_32.gif" width="32" height="32" alt="Audio File" />
    <a href="{{data.get('mediaurl')}}">Audio Clip</a>
{% elseif data.get('mediatype') == 4 %}
    <iframe src="{{data.get('mediaurl')}}" width="{{data.get('mediawidth')}}" height="{{data.get('mediaheight')}}" align="center">Your browser does not support iframes!</iframe>
{% elseif data.get('mediatype') == 5 %}
    <object type="application/x-shockwave-flash" data="{{path}}/paper/player_flv_maxi.swf" width="{{data.get('mediawidth')}}" height="{{data.get('mediaheight')}}>
        <param name="movie" value="{{path}}/paper/player_flv_maxi.swf" />
        <param name="FlashVars" value="flv={{data.get('mediaurl')}}&amp;buffermessage=&amp;showplayer=always&amp;showvolume=1&amp;showstop=1&amp;showtime=1&amp;margin=1" />
    </object>
{% elseif data.get('mediatype') == 6 %}
    {% if data.get('mediaedit') %}
    {{data.get('mediafile')}}&nbsp;
    {% endif %}
    <audio src="{{data.get('mediaurl')}}" controls>
    </audio>
{% elseif data.get('mediatype') == 7 %}
    <embed src="{{data.get('mediaurl')}}" width="{{data.get('mediawidth')}}" height="{{data.get('mediaheight')}}" border="1" autoplay="true" loop="false" alt="Data File" wmode="opaque"></embed>
{% else %}
    <embed src="{{data.get('mediaurl')}}" width="{{data.get('mediawidth')}}" height="{{data.get('mediaheight')}}" border="1" alt="Data File" wmode="opaque"></embed>
{% endif %}
{% if data.get('mediadelete') %}
    <a href="#" class="media-delete" rel="{{data.get('mediaid')}}"><img class="align-bottom" src="{{path}}}/artwork/red_cross.png" width="16" height="16" alt="Delete" /></a></div>
    <label class="hide"><input type="checkbox" id="delete_media{{data.get('mediaid')}}" name="delete_media{$imageid}" /> Delete image {{data.get('mediaid')}}</label>
    <input type="hidden" id="existing_media{{data.get('mediaid')}}" name="existing_media{{data.get('mediaid')}}" value="{{data.get('mediafile')}}" />
{% endif %}