{% if data.unanswered %}
    <tr style="display:none" id="unansweredkey">
        <td colspan="2">
            <span class="unans">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{lang.unansweredquestion}}
        </td>
    </tr>
{% endif %}
{% if data.displayprologue %}
    <tr>
        <td colspan="2" style="padding:20px; text-align:justify">
            {{data.prologue}}
        </td>
    </tr>
{% endif %}
{% if data.notheme %}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
{% endif %}
{% if data.likertprev %}
</table>
<br />
<table cellpadding="0" cellspacing="4" border="0" width="100%" style="table-layout:fixed">
    <col width="40"><col>
{% elseif data.likertcur %}
</table>
<table cellpadding="0" cellspacing="4" border="0">
{% endif %}
{% if data.displaytheme %}
    <tr>
        <td colspan="2" class="theme">
            {{data.theme}}
        </td>
    </tr>
{% endif %}
{% if data.displayassigned %}
    <tr>
        <td class="q_no">{{data.assigned_number}}&nbsp;
        {% if data.displaycalc %}
            <br />
            <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
        {% endif %}
        </td>
        <td>
        {% if data.displaynotes %}
        <p class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="{{lang.note}}" />
            &nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </p>
        {% endif %}
        {% if data.displayscenario %}
        {{data.scenario|raw}}<br /><br />
        {% endif %}
        {% if data.displaymedia %}
        <p align="center">
            {% include 'paper/media.html' %}
        </p>
        {% endif %}
        {% if data.displayleadin %}
        {{data.leadin|raw}}
        {% endif %}
{% endif %}
{% if data.displayinfo %}
    <tr>
        <td colspan="2" style="padding-left:10px; padding-right:10px">
            {{data.leadin|raw}}
{% endif %}
{% if data[data.questiontype] and data.questiontype != 'enhancedcalc' %}
    {% include 'paper/question/'~data.questiontype~'.html' %}
{% endif %}