{% if data.displaydefault %}
        {% if data.displayscenario %}
        {{data.scenario|raw}}<br /><br />
        {% endif %}
        {% if data.displaymedia %}
        <p align="center">
            {% include 'paper/media.html' %}
        </p>
        {% endif %}
        {% if data.displayleadin %}
        {{data.leadin|raw}}
        {% endif %}
{% endif %}
{% include data.questiontemplate %}
{% if data.papertype != 3 %}
    {% if data.finalmarks == 0 %}
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    {% else %}
        <div id="q{{data.questionno}}_mk" class="mk">({{data.finalmarks}} {% if data.finalmarks == 1 %} {{lang.mark}} {% else %} {{lang.marks}} {% endif %}
        {% if data.scoremethod == 'bonus' %}
    {{data.bonus}}
        {% endif %}
        {% if data.negativemarking %}
    , {{lang.negmarking}}
        {% endif %}
    )
        </div>
        <br />
        </td>
    </tr>
    {% endif %}
{% else %}
        </td>
    </tr>
{% endif %}
{% if data.questiontype != 'info' %}
    <input type="hidden" name="order{{data.questionno}}" value="{{data.optionorder}}" />
{% endif %}