{% if data.get('displaydefault') %}
        {% if data.get('displayscenario') %}
        {{data.get('scenario')|raw}}<br /><br />
        {% endif %}
        {% if data.get('displaymedia') %}
        <p align="center">
            {% include 'paper/media.html' %}
        </p>
        {% endif %}
        {% if data.get('displayleadin') %}
        {{data.get('leadin')|raw}}
        {% endif %}
{% endif %}
{% include data.get('questiontype')~'.html' %}
{% if data.get('papertype') != 3 %}
    {% if data.get('finalmarks') == 0 %}
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    {% else %}
        <div id="q{{data.get('questionno')}}_mk" class="mk">({{data.get('finalmarks')}} {% if data.get('finalmarks') == 1 %} {{lang.mark}} {% else %} {{lang.marks}} {% endif %}
        {% if data.get('scoremethod') == 'bonus' %}
    {{data.get('bonus')}}
        {% endif %}
        {% if data.get('negativemarking') %}
    , {{lang.negmarking}}
        {% endif %}
    )
        </div>
        <br />
        </td>
    </tr>
    {% endif %}
{% else %}
        </td>
    </tr>
{% endif %}
{% if data.get('questiontype') != 'info' %}
    <input type="hidden" name="order{{data.get('questionno')}}" value="{{data.get('optionorder')}}" />
{% endif %}