{% if data.unanswered %}
    <tr id="unansweredkey">
        <td colspan="2">
            <span class="unans">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{lang.unansweredquestion}}
        </td>
    </tr>
{% endif %}
{% if data.displayprologue %}
    <tr>
        <td colspan="2" style="padding:20px; text-align:justify">
            {{data.prologue}}
        </td>
    </tr>
{% endif %}
{% if data.displaytheme %}
    <tr>
        <td colspan="2" class="theme">
            {{data.theme}}
        </td>
    </tr>
{% endif %}
{% if data.displaydefault %}
    <tr>
        <td class="q_no">{{data.assigned_number}}.&nbsp;
        {% if data.displaycalc %}
            <br />
            <img class="sciCalculator" src="{{path}}/artwork/calc.png" alt="{{lang.calculator}}" />
        {% endif %}
        </td>
        <td>
        {% if data.displaynotes %}
        <p class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="{{lang.note}}" />
            &nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </p>
        {% endif %}
{% endif %}