{# This file is part of ExamSys

    ExamSys is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    ExamSys is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with ExamSys.  If not, see <http://www.gnu.org/licenses/>. 
    #}
    
{#
This template renders the reports page.

@author Iyud Dissanayake
@copyright 2025 The University of Nottingham
#}

<!-- Dataset element with required data attributes for papersidebar.js -->
<div id="dataset" 
     data-paperid="{{ data.paperID }}" 
     data-module="{{ data.module }}" 
     data-folder="{{ data.folder }}"
     data-papertype="{{ data.paper_type }}">
</div>

<div id="content">
    <h1>{{ lang.reports }}</h1>
    
    <div id="stats_menu" class="stats_menu">
        <form name="stats_menu" autocomplete="off">
            <div class="form-header">
                <div class="form-bar"></div>
            </div>
            <div class="form-content">
                
                <!-- Hidden inputs required by papersidebar.js -->
                <input type="hidden" id="paperID" name="paperID" value="{{ data.paperID }}">
                <input type="hidden" id="meta_no" name="meta_no" value="{{ data.meta_no }}">
                
                <h2>{{ lang.reportfilters }}</h2>
                
                <!-- Date filter fieldset -->
                <fieldset class="form-fieldset">
                    <legend>{{ lang.datefilter }}</legend>
                    <div class="form-row">
                        <label for="start_date">{{ lang.dates }}</label>
                        <div class="date-range-container">
                            {{ data.start_date_selector|raw }}
                            <span class="date-separator">{{ lang.to }}</span>
                            {{ data.end_date_selector|raw }}
                            <span class="tooltip-icon" title="{{ lang.tooltip_daterange }}">tooltip</span>
                        </div>
                    </div>
                </fieldset>
                
                <!-- Course filter fieldset -->
                <fieldset class="form-fieldset">
                    <legend>{{ lang.coursefilter }}</legend>
                    <div class="form-row">
                        <label for="repcourse">{{ lang.course }}</label>
                        <select name="repcourse" id="repcourse">
                            {% for option in data.course_options %}
                                <option value="{{ option.value }}">{{ option.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <!-- Module and Cohort filters (conditional) -->
                {% if data.paper_type != '3' %}
                    <!-- Module filter fieldset -->
                    <fieldset class="form-fieldset">
                        <legend>{{ lang.modulefilter }}</legend>
                        <div class="form-row">
                            <label for="repmodule">{{ lang.module }}</label>
                            <select name="repmodule" id="repmodule">
                                {% for option in data.module_options %}
                                    <option value="{{ option.value }}">{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>

                    <!-- Cohort filter fieldset -->
                    <fieldset class="form-fieldset">
                        <legend>{{ lang.cohortfilter }}</legend>
                        <div class="form-row">
                            <label for="direction">{{ lang.cohort }}</label>
                            <div class="cohort-container">
                                <select name="direction" id="direction">
                                    {% for option in data.direction_options %}
                                        <option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>{{ option.text }}</option>
                                    {% endfor %}
                                </select>
                                <select name="percent" id="percent">
                                    {% for option in data.percentage_options %}
                                        <option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>{{ option.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                {% endif %}
                
                <!-- Metadata fields -->
                {% if data.meta_fields is defined and data.meta_fields|length > 0 %}
                    <fieldset class="form-fieldset">
                        <legend>{{ lang.metadata }}</legend>
                        {% for field in data.meta_fields %}
                            <div class="form-row">
                                <label for="{{ field.id }}">{{ field.label }}</label>
                                <select name="{{ field.id }}" id="{{ field.id }}">
                                    {% for option in field.options %}
                                        <option value="{{ option.value }}">{{ option.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </fieldset>
                {% endif %}
                
                <!-- Checkbox options -->
                <fieldset class="form-fieldset">
                    <legend>{{ lang.reportoptions }}</legend>
                    <div class="form-row checkbox-row">
                        <div class="checkbox-container">
                            <input type="checkbox" 
                                   id="{{ data.absent_checkbox.id }}" 
                                   name="{{ data.absent_checkbox.name }}" 
                                   value="{{ data.absent_checkbox.value }}"
                                   {% if data.absent_checkbox.checked %}checked{% endif %}>
                            <label for="{{ data.absent_checkbox.id }}">{{ lang.incabsentcandidates }}</label>
                        </div>
                        
                        <div class="checkbox-container">
                            <input type="checkbox" 
                                   id="{{ data.students_only_checkbox.id }}" 
                                   name="{{ data.students_only_checkbox.name }}" 
                                   value="{{ data.students_only_checkbox.value }}"
                                   {% if data.students_only_checkbox.checked %}checked{% endif %}>
                            <label for="{{ data.students_only_checkbox.id }}">{{ lang.studentsonly }}</label>
                            <span class="tooltip-icon" title="{{ lang.tooltip_studentattempts }}">tooltip</span>
                        </div>
                    </div>
                </fieldset>
                
                <!-- Survey-specific form elements -->
                {% if data.paper_type == '3' %}
                    <fieldset class="form-fieldset">
                        <legend>{{ lang.surveyoptions }}</legend>
                        <div class="form-row">
                            <label for="repyear">{{ lang.year }}</label>
                            <select name="repyear" id="repyear">
                                {% for option in data.year_options %}
                                    <option value="{{ option.value }}">{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row checkbox-row">
                            <div class="checkbox-container">
                                <input type="checkbox" 
                                    id="{{ data.complete_datasets_checkbox.id }}" 
                                    name="{{ data.complete_datasets_checkbox.name }}" 
                                    value="{{ data.complete_datasets_checkbox.value }}"
                                    {% if data.complete_datasets_checkbox.checked %}checked{% endif %}>
                                <label for="{{ data.complete_datasets_checkbox.id }}">{{ lang.completedatasets }}</label>
                            </div>
                        </div>
                    </fieldset>
                {% endif %}
            </div>
        </form>
    </div>
    
    <!-- Reports Sections -->
    <div id="reports-sections" class="reports-sections">
        {% if data.reviews_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.reviews_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.reviews_section.items %}
                        <li class="reports-item">
                            <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.item_analysis_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.item_analysis_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.item_analysis_section.items %}
                        <li class="reports-item">
                            <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.cohort_reports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.cohort_reports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.cohort_reports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.exports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.exports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.exports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.textbox_marking_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.textbox_marking_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.textbox_marking_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.anomalies_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.anomalies_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.anomalies_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <!--Survey specific reports -->
        {% if data.survey_quantitative_reports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.survey_quantitative_reports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.survey_quantitative_reports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.survey_qualitative_analysis_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.survey_qualitative_analysis_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.survey_qualitative_analysis_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.survey_exports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.survey_exports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.survey_exports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <!--OSCE specific reports -->
        {% if data.osce_cohort_reports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.osce_cohort_reports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.osce_cohort_reports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.osce_item_analysis_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.osce_item_analysis_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.osce_item_analysis_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if data.osce_exports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.osce_exports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.osce_exports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <!--Peer Review specific reports -->
        {% if data.peer_review_reports_section is defined %}
            <div class="reports-section">
                <h2 class="reports-header">{{ data.peer_review_reports_section.title }}</h2>
                <ul class="reports-list">
                    {% for item in data.peer_review_reports_section.items %}
                        <li class="reports-item">
                            {% if item.class == 'disabled' %}
                                <span class="disabled-link">{{ item.text }}</span>
                            {% else %}
                                <a href="#" class="{{ item.class }}" data-url="{{ item.url }}">{{ item.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>