{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the hotspot question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.questionno - the question number
data.mediawidth - width of the media
data.mediaheight - height of the media
data.language - language the media uses
data.mediafile - the media file
data.tmpcorrect - the correct answer
data.useranswer - the users answer
data.screensubmitted - flag to indicate if question previously answered
data.cssclasses - extra CSS classes to apply to question
#}
{% if data.print %}
<div class="hotspot question-parent">
    <ol>
{% for l in data.labels %}
        <li>{{l}}</li>
{% endfor %}
    </ol>
    <div>
    {% include 'paper/media.html' %}
    </div>
</div>
{% else %}
<div align="left">
    <div
      id="question{{data.questionno}}"
      class="html5 hotspot answer{{data.cssclasses}}"
      data-number="{{data.questionno}}"
      data-type="hotspot"
      data-mode="answer"
      data-image="{{data.mediafile}}"
      data-image-width="{{data.mediawidth}}"
      data-image-height="{{data.mediaheight}}"
      data-setup="{{data.tmpcorrect}}"
      data-answer="{{data.useranswer}}"
      ></div>
    </div>
<input type="hidden" name="q{{data.questionno}}" id="q{{data.questionno}}" {% if data.unanswered %} value="u" {% else %} value="{{data.useranswer}}" {% endif %}/>
{% endif %}
