{# This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see
<http://www.gnu.org/licenses/>.
#}

{#
This template renders start of a tab list.

@author Neill Magill
<neill.magill@nottingham.ac.uk>
@copyright 2026 The University of Nottingham

Intended component: \component\tabs\TabList
#}
<div class="component-tabs" data-orientation="{{data.orientation|escape('html_attr')}}">
    <div class="tab-area">
        <div
                role="tablist"
                aria-label="{{data.name|escape('html_attr')}}"
                aria-orientation="{{data.orientation|escape('html_attr')}}"
        >
            {% for tab in data.tabs %}
            {{ include('@tabs/tab.html', {'data': tab, 'lang': lang}, with_context = false) }}
            {% endfor %}
        </div>
        <div class="tab-panel-area">
