{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the multiple choice question type with drop down display.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:

data.unanswered - flag to indicate if question has previously been answered
data.questionno - question number
data.options - the options
options.selected - flag to indicate if option has previously been selected
options.optiontext - the option text
options.position - option position
data.dismiss - record of which options have been dismissed by the user
data.print - flag to indicate if the question is being printed
#}
{# Display options table #}
{% if data.print %}
<div class="extmatch_opt_table">
    <div>
        <ol>
            {% for o in data.options %}
            <li>{{o.optiontext|raw}}</li>
            {% if loop.index0 == 5 %}
        </ol>
    </div>
    <div>
        <ol start="{{loop.index0 + 2}}">
            {% endif %}
    {% endfor %}
        </ol>
    </div>
</div>
{% endif %}
<div {% if data.unanswered %} class="unans" {% endif %}>
    <div class="question-container">
        <select aria-label="{{lang.selectanswer}}" {%if data.unanswered %} class="unans" {% endif %} name="q{{data.questionno}}" size="1">
            <option value=""></option>
{% for i,p in data.options %}
            <option value="{{p.position}}" {% if p.selected %} selected {% endif %}>{{p.optiontext|raw}}</option>
{% endfor %}
        </select>
    </div>
    <div>
        <input type="hidden" name="dismiss{{data.questionno}}" id="dismiss{{data.questionno}}" value="{{data.dismiss}}" />
    </div>
</div>
