{# This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}
{#
This template renders a table.

@author Neill Magill <neill.magill@nottingham.ac.uk>
@copyright 2026 The University of Nottingham

Intended component: \component\table\Table
#}
<table
    {% if data.id %}{{data.id}}{% endif %}
    class="component-table{% for class in data.classes %} {{class}}{% endfor %}"
>
    {% if data.caption %}<caption>{{data.caption}}</caption>{% endif %}
    <thead>
        <tr>
            {% for heading in data.headings %}
                <th>{{heading}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody
        {% if data.highlight %}class="highlight"{% endif %}
    >
        {% for row in data.rows %}
            <tr>
                {% for column in row %}
                    {% if data.escape %}
                        <td>{{column}}</td>
                    {% else %}
                        <td>{{column|raw}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
