<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html;charset={{config.cfg_page_charset}}"/>

        <title>{{"Rog&#333;:"|raw}} {{lang.title}} {{config.cfg_install_type}}</title>

        <link rel="stylesheet" type="text/css" href="../../css/body.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/submenu.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/header.css"/>
        {{additionalcss|raw}}

        <script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../../js/staff_help.js"></script>
        <script type="text/javascript" src="../../js/toprightmenu.js"></script>
        {{additionaljs|raw}}
    </head>