<!DOCTYPE html>
<html lang="{{language}}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html;charset={{charset}}"/>

        <title>{{"ExamSys:"|raw}} {{lang.title}}</title>

        <link rel="stylesheet" type="text/css" href="{{path}}/css/body.css"/>
        <link rel="stylesheet" type="text/css" href="{{path}}/css/submenu.css"/>
        <link rel="stylesheet" type="text/css" href="{{path}}/css/header.css"/>
        {{additionalcss|raw}}
        <script id="rogoconfig" data-lang="{{language}}>" data-root="{{path}}"></script>
        <script src='{{path}}/js/require.js'></script>
        <script src='{{path}}/js/main.min.js'></script>
        {{additionaljs|raw}}
    </head>
