<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html;charset={{config.cfg_page_charset}}"/>

        <title>{{"Rog&#333;:"|raw}} {{lang.title}} {{config.cfg_install_type}}</title>

        <link rel="stylesheet" type="text/css" href="../../css/body.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/submenu.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/header.css"/>
        {{additionalcss|raw}}

        <script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../../js/staff_help.js"></script>
        <script type="text/javascript" src="../../js/toprightmenu.js"></script>
        {{additionaljs|raw}}
    </head>
        <body>
            {{toprightmenu|raw}}
            <div id="content">
                <div class="head_title">
                    <div><img src="../../artwork/toprightmenu.gif" id="toprightmenu_icon" /></div>
                    <div class="breadcrumb">
                    {% for id,item in breadcrumb %}
                        {%if loop.index0 != 0 %}
                        <img src="../../artwork/breadcrumb_arrow.png" class="breadcrumb_arrow" alt="-"/>
                        {% endif %}
                        <a href="{{item}}">{{id}}</a>
                    {% endfor %}
                    </div>
                    <div class="page_title">{{lang.title}}</div>
                </div>