<div class="head_title">
    <div><img src="{{ path }}/artwork/toprightmenu.gif" id="toprightmenu_icon" /></div>
    <div class="breadcrumb">
        {% for href, title in links %}
        <a href="{{ path }}{{ href }}">{{ title }}</a>
        <img src="{{ path }}/artwork/breadcrumb_arrow.png" class="breadcrumb_arrow" alt="-" />
        {% endfor %}
        {{ current }}
    </div>
</div>