{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the calculation plugin information on the system information page.

author Neill Magill <neill.magill@nottingham.ac.uk>
copyright 2022 onwards The University of Nottingham

Required variables -
    * data.type
    * data.settings - an array containing name, classname and error keys

Required localised language strings -
    * lang.setting
    * lang.value
#}
<table>
    <thead>
        <tr>
            <th>{{lang.setting}}</th>
            <th>{{lang.value}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{lang.type}}</td>
            <td>
                {% if data.type %}
                    {{data.type}}
                {% else %}
                    {{lang.defaultcalculations}}
                {% endif %}
            </td>
        </tr>
        {% for setting,value in data.settings %}
            <tr>
                <td>{{setting}}</td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
