{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the authentication plugin information on the system information page.

author Neill Magill <neill.magill@nottingham.ac.uk>
copyright 2022 onwards The University of Nottingham

Required variables -
    * data.plugins - an array containing name, classname and error keys

Required localised language strings -
    * lang.more_details
#}
<ol>
    {% for id,item in data.plugins %}{% if id != 0 %}
        <li {% if item.error %}class="warning"{% endif %}>{{item.name}} <em>({{item.classname}})</em></li>
    {% endif %}{% endfor %}
</ol>
<a href="./detailed_authentication_info.php">{{lang.more_details}}</a>
