.mee_edit
{
    border: 1px solid #9a9a9a;
    cursor: text;
    margin: 24px;
    font-size: 150%;
    background-color: #F0F0ff;
}
.mee_edit_eqn
{
     min-height: 1em;
    /*border: 1px solid red;*/
    font-family: MathJax_Main;
}
.mee_elem_input
{
    background-color: #c0c0ff;
}

/* debug stuff */
.dump_set
{
    padding-left: 20px;
}
.dump_set_elemes
{
    padding-left: 20px;
}
.dump_elem_part
{
    padding-left: 20px;
}
.dump_set
{
    border: 1px solid blue;
}
.mee_edit_raw
{
    position: relative;
    left: -1px;
    top: -3px;
}