{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the invigilator access denied page.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2020 onwards The University of Nottingham

Required variables:

data - paper settigns from PaperSettings->get

Required localised language strings -

lang.deniedtitle
lang.deniedmsg
#}
<div class="accessdenied">
    <div class="logout">
        <a href="{{path}}/logout.php"><img id="logout" src="{{path}}/artwork/student_logout.png" alt="{{lang.logout}}"/></a>
    </div>
    {% include 'invigilator/emergency.html' %}
    <p>
        <img id="denied" src="{{path}}/artwork/exclamation_48.png" />
        <span>{{lang.deniedtitle}}</span>
        <br /><br />{{lang.deniedmsg|raw}}</p>
    <br clear="all" />
</div>
