{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the invigilator page header.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2020 onwards The University of Nottingham

Required variables:

data.remote - flag to indicate if remote inviglation

Required localised language strings -

lang.addnote
lang.extendtime
lang.toiletbreak
lang.unfinished
#}
<div id="callout" class="callout border-callout">
    <b class="border-notch notch"></b>
    <b class="notch"></b>
    <div id="calloutTxt"></div>
</div>
<div id="menudiv" class="popupmenu">
    <ul>
        <li class="menu-note">{{lang.addnote}}</li>
        {% if not data.remote %}
        <li class="menu-time">{{lang.extendtime}}</li>
        <li class="menu-toilet">{{lang.toiletbreak}}</li>
        {% endif %}
        <li class="menu-unfinish">{{lang.unfinished}}</li>
    </ul>
</div>
