{#This file is part of ExamSys

 ExamSys is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ExamSys is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template is for the likert question type.

author Dr Joseph Baxter <joseph.baxter@nottingham.ac.uk>
copyright 2018 onwards The University of Nottingham

Required variables:
data.displaylikertnotes - flag to indicate if there is a note to display 
data.likertnotescolspan - col span of notes
data.notes - the notes
data.displaylikertscenario - flag to indicate if there is a note to scenario 
data.likertscenariocolspan - col span of scenario
data.scenario - the scenario
data.displayna  - flag to indicate if n/a option should be displayed
data.scale - the likert scale
data.unanswered - flag to indicate if question has previously been answered
data.assignednumber - question number
data.leadin - question leadin
data.scaleopt - scale options
scaleopt.selected - flag to indicate if option has previously been selected
data.id - question id
data.questionno - the position of the question on the screen

Required localised text -
lang.note - note
lang.na - not applicable
#}
<div class="question-{{data.questiontype}} question-parent">
    <div class="q_no">{{data.assignednumber}}.&nbsp;</div>
{% if data.displaylikertnotes %}
    <div>
        <div class="note">
            <img src="{{path}}/artwork/notes_icon.gif" width="16" height="16" alt="Note" />
            &nbsp;<strong>{{lang.note}}:</strong>&nbsp;{{data.notes}}
        </div>
    </div>
{% endif %}
    <div class="likert question-container">
{% if data.displaylikertscenario %}
        <div>
            <div colspan="{{data.likertscenariocolspan}}">
                {{data.scenario|raw}}
            </div>
        </div>
{% endif %}
        <div aria-hidden="true" class="question-header">
            <div class="question-cell"></div>
{% if data.displayna %}
            <div class="question-cell likert-note">
                {{lang.na}}
            </div>
{% endif %}
{% for i in data.scale %}
            <div class="question-cell likert-note">
                {{i|raw}}
            </div>
{% endfor %}
        </div>
        <ul class="question-row {% if data.unanswered %} unans {% endif %}">
            <li class="question-cell">{{data.leadin|raw}}</li>
{% for i,selected in data.scaleopt %}
            <li class="question-cell likert_button">
                <input {% if i == 'n/a' %}
                    aria-label="{{lang.na}}"
                    {% else %}
                    aria-label="{{attribute(data.scale, i - 1)}}"
                    {% endif %} type="radio" name="q{{data.id}}" value="{{i}}"
                    {% if selected %} checked="checked" {% endif %}
                    data-position="{{data.questionno}}"/>
            </li>
{% endfor %}
        </ul>
