<div class="config">
    <div class="configheading">
        <label for="{{data.setting}}">{{data.setting}}</label>
        <img src="{{path}}/artwork/tooltip_icon.gif" class="help_tip" title="{{attribute(lang, data.setting)}}" />
    </div>
    <div class="configvalue">
        <select id="{{data.setting}}" name="{{data.setting}}[]" multiple>
            {% for tz in data.zone %}
                 <option value="{{tz.iz}}|{{tz.dz}}" {{tz.selected}}>{{tz.dz}}</option>
            {% endfor %}
        </select>
        {% if data.disabled != "" %}
        <div class="configextra">{{lang.fileoverride}}</div>
        {% endif %}
    </div>
</div>