{# This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template page that displays component previews

@author Neill Magill <neill.magill@nottingham.ac.uk>
@copyright 2026 The University of Nottingham

Required data variables:

* collection - The name of the collection
* component - The name of the component

Required language strings:

* description
#}
<p>{{data.description}}</p>
<iframe
    class="example-component"
    src="preview_component.php?collection={{data.collection}}&component={{data.component}}"
    title="{{data.description}}"
>
</iframe>
