{#This file is part of ExamSys

ExamSys is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ExamSys is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ExamSys.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
This template renders a breadcrumb navigation component.

author Iyud Dissanayake
copyright 2025 onwards The University of Nottingham

Required variables:
path - root path for ExamSys
data.breadcrumb - breadcrumb data as an associative array where keys are labels and values are URLs
lang.breadcrumb - Accessibility label for the breadcrumb navigation
#}
<div class="breadcrumb" aria-label="{{ lang.breadcrumb }}">
    {% for label, url in data.breadcrumb %}
        {% if loop.index0 != 0 %}
        <img src="{{ path }}/artwork/breadcrumb_arrow.png" class="breadcrumb_arrow" alt="-" />
        {% endif %}
        {% if url %}
        <a href="{{ path }}{{ url }}">{{ label }}</a>
        {% else %}
        {{ label }}
        {% endif %}
    {% endfor %}
</div>
