<div align="center">
    <table class="header">
        <tr>
          <th style="padding-top:4px; padding-bottom:4px; padding-left:16px">
              <img src="{{path}}//artwork/r_logo.gif" alt="logo" class="logo_img" />
              <div class="logo_lrg_txt">Rog&#333;</div>
              <div class="logo_small_txt">{{lang.title}}</div>
          </th>
          <th style="text-align:right; padding-right:10px"><img src="{{path}}/artwork/software_64.png" width="64" height="64" alt="{{lang.iconalt}}" /></th>
        </tr>
    </table>
    <p>{{lang.blurb}}</p>
    <div id="download"><a href="{{data.action}}">{{lang.linkdesc}}</a></div>
    <p>{{data.error}}</p>