body {
    background-color:#F1F5FB;
    font-size:80%;
    text-align:center;
    margin:2px
}
h1 {
    text-align:left;
    font-size:150%;
    margin-left:4px;
    font-weight:normal
}
#msg {
    width:100%;
    height:340px;
}