html {
  overflow: auto;
  height: 100%;
}
.ok {
  font-size: 100%;
  color: black !important;
  width: 10em;
}
.objH {
  font-weight: bold;
  color: #316AC5;
  color: var(--paper-themecolour, '#316AC5');
}
.fback {
  font-style: italic;
  color: #C00000;
  color: var(--paper-notecolour, '#C00000');
}
.label {
  color: #C00000;
  color: var(--paper-notecolour, '#C00000');
}
.err {
  color: #C00000;
}
.usermk {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #FFFF00;
  font-size: 100%;
  color: black;
}
.textmks {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #EAEAEA;
  font-size: 100%;
  color: black;  
}
.mkpad {
  padding-top: 10px;
}
.answerindent {
  margin-left: 17px;
  margin-right: 15px;
}
.std {
  display: block;
  background-color: #f27000;
  color: white;
  width: 35px;
  text-align: center;
	padding-left: 4px;
	padding-right: 4px;
}
.exclude {
  color: red;
  text-decoration: line-through;
}
input.exclude, select.exclude {
  border: 1px solid red;
}
.box {
  width: 90%;
  background-color: #E4EEFC;
  border: 1px solid #B5C4DF;
  border-radius: 4px;
  text-align: left;
}
.scr_no {
  margin-left: 25px;
}
.screenbrk {
  color: #808080;
  font-size: 90%;
  height: 70px;
  width: 100%;
  border-top: 2px solid #808080;
}
.studentview {
  color: #C00000;
  font-size: 90%;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 2px;
}
.staffview {
  color: #000000;
  color: var(--paper-foregroundcolour, '#000000');
  font-size: 90%;
  font-size: var(--paper-fontsize, 90%);
  height: 70px;
  width: 100%;
  border-top: 2px solid #C00000;
  background-color: #FFC0C0;
  background-color: var(--paper-unanswered, '#FFC0C0');
}
.textbox_answer {
  margin-top: 26px;
  margin-right: 26px;
  border: 1px solid #909090;
  padding: 2px;
  text-align: justify;
}

@media print {
  .textbox_answer {
    max-width: 15cm;
  }
}
.thankyou {
  font-size: 450%;
  font-weight: bold;
  line-height: 140%;
}
.logissue {
  float: right;
  padding: 5px;
  display: flex;
  align-items: center;
}
.logoutandclose {
  text-decoration: underline;
  cursor: pointer;
}

.mathpreview {
  border: 1px solid;
  padding: 3px;
  width: 50%;
  margin-top: 5px;
}

.mathbuffer {
  border: 1 px solid;
  padding: 3px;
  width: 50%;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.student {
  margin-left: 5px;
  font-size: 90%;
  color: white;
  font-weight: bold;
}

.key {
  width: 90%;
  background-color: #FCF6CF;
  background-color: var(--paper-highlightbgcolour, '#FCF6CF');
  border: 2px solid #FCE699;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}

.theme {
  color: #316AC5;
  color: var(--paper-themecolour, '#316AC5');
}

.print:hover {
  cursor: pointer;
}

#maincontent {
  overflow: unset;
}
