html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 85%;
  line-height: 150%;
}

a {
  color: #316AC5;
}

p, div, td, ol {
  color: #484848;
}

ul {
  list-style: square outside;
  color: #f27000;
}

.help_title {
  padding: 20px;
  font-size: 190%;
  font-weight: bold;
  margin-bottom: 5px;
  color: #295AAD;
  border-bottom: #B6B6B6 1px solid;
}

.flag {
  width: 41px;
  height: 27px;
  float: right;
  border: 1px solid #484848;
}

h1 {
  font-size: 150%;
  color: black;
}

h2 {
  font-size: 140%;
  color: #f27000;
}

hr {
  margin-left: 0;
  text-align: left;
}

.path {
  font-size: 80%;
  padding-left: 8px;
}

.subheading {
  font-weight: bold;
  font-style: italic;
}

.tutorial {
  background-color: #FCF6CF;
  width: 95%;
  cursor: pointer;
}

.image_brd {
  border: 1px solid black;
}

.image_no_brd {
  border: 0;
}

.icon16_active {
  padding-right: 6px;
}

.open_submenu {
  display: block;
  margin-left: 18px;
  white-space: nowrap;
}

.closed_submenu {
  display: none;
  margin-left: 18px;
  white-space: nowrap;
}

.pointer_open_submenu {
  display: block;
  margin-left: 18px;
  white-space: nowrap;
}

.pointer_closed_submenu {
  display: none;
  margin-left: 18px;
  white-space: nowrap;
}

.book {
  white-space: nowrap;
  cursor: pointer;
  color: black;
}

.page {
  white-space: nowrap;
  cursor: pointer;
  color: black;
}

.pointer_page {
  white-space: nowrap;
  cursor: pointer;
  color: black;
}

#wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

#toolbar {
  height: 26px;
  width: 100%;
  background-color: #F0F0F0;
}

.toolbar_buttons {
  float: left;
  padding-top: 2px;
  padding-left: 6px;
}

.toolbar_icon {
  width: 23px;
  height: 22px;
}

.toolbar_icon:hover {
  background-color: #FFDB75;
}

.divider {
  width: 6px !important;
  height: 22px !important;
}

.toolbar_search {
  float: right;
  padding-top: 2px;
  padding-right: 6px;
}

#toc {
  position: absolute;
  top: 26px;
  bottom: 0;
  width: 20%;
  float: left;
  overflow: scroll;
  background-color: white;
  line-height: 180%;
}

#contents {
  position: absolute;
  top: 26px;
  bottom: 0;
  width: 80%;
  left: 20%;
  float: right;
  overflow: auto;
}

.gototop {
  cursor: pointer;
}

.footer_line {
  border-top: 1px solid #B6B6B6;
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer_left {
  font-size: 90%;
  float: left;
}

.footer_right {
  font-size: 90%;
  float: right;
  text-align: right;
  color: #316AC5;
}
#searchbox:focus {
  border-color: #ED7D31;
}
#searchbox:hover {
  border-color: #ED7D31;
}
#searchbox {
  width: 250px;
  border: 1px solid white;
  margin-right: 3px;
}
#edit1 {
  width:100%;
  height:500px;
}