html {
  margin: 0;
  padding: 0;
}
body {
  color: #000040;
  background-color: white;
  font-size: 90%;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 150%;
  margin: 0;
}
th {
  color: white;
  background-color: #909090;
}
fieldset {
  border: none;
  padding: 0;
}
.exam-button {
  width: 160px;
  height: 34px;
  font-size: 120%;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
}
#start_exam_button {
  background-color: #26A61E !important;
  background-image: none;
  color: #fff;
}
#end_exam_button {
  background-color: #ff8901;
  color: #fff;
  margin-bottom: 6px;
  background-image: none;
}
.cohortlist {
  border: 1px solid #909090;
}
.cohortlist table {
  width: 100%;
  line-height: 150%
}

#clarifymsgtbl {
  float: left;
  width: 50%
}

#menudiv ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menudiv li {
  padding: 3px 0 3px 32px;
}
#menudiv li:hover {
  background-color: #FFE7A2;
}
.menu-time {
  background: url('../artwork/clock_16.png') no-repeat 6px 4px;
}
.menu-note {
  background: url('../artwork/notes_icon.gif') no-repeat 6px 4px;
}
.menu-toilet {
  background: url('../artwork/wc.png') no-repeat 6px 4px;
}
.menu-unfinish {
  background: url('../artwork/unfinish_exam.png') no-repeat 6px 4px;
}
.tight {
  margin: 4px 0 2px 0;
}
.notice {
  border: 1px solid #C00000;
  padding: 0 6px;
  margin-bottom: 6px;
}
.notice h1 {
  font-size: 140%;
}
.clarifymsg {
  overflow: auto;
  width: 100%;
}
.blankclarification {
	color: #C0C0C0;
	font-size: 200%;
	font-weight: bold;
}
.q_no {
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}
.q_msg {
  padding-bottom: 10px;
}
.redwarn {
  background-color: #FFDDDD;
}
.16icon {
  width: 16px;
  height: 16px;
  padding-right: 1px;
}

/* Tabs */
.tab-bar {
  height: 47px;
  background-color: #1e3c7b;
}

.tab-holder {
  height: 36px;
  background-color: #EEF4FF;
  padding-top: 4px;
}

.tabs {
  margin: 0;
  padding: 0;
}

.tabs li {
	padding: 2px;
  width: 250px;
  height: 32px;
  float: left;
  list-style: none;
  text-align: center;
  vertical-align: bottom;
  background-color: #517DBF;
  border-right: 1px solid #DFECFF;
}

.tabs li.on {
  background-color:#1E3C7B;
}

.tabs li.disabled {
  background-color: #808080;
}

.tabs li a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 90%;
  vertical-align: bottom;
  text-decoration: none;
}

.tab-area {
  background-color: white;
}

.preexam h1 {
  color: #2F5496;
}
.preexam {
  background-color: #B1CBE9;
  border: 1px solid #5B9BD5;
  line-height: 150%;
  padding: 15px;
}
.midexam h1 {
  color: #7F6000;
}
.midexam {
  background-color: #FFDD9C;
  border: 1px solid #FFC000;
  line-height: 150%;
  padding: 15px;
}
.postexam h1 {
  color: #375623;
}
.postexam {
  background-color: #B5D5A7;
  border: 1px solid #70AD47;
  line-height: 150%;  
  padding: 15px;
}
.en {
  font-weight: bold;
  color: #008000;
  font-size: 130%;
}
.password {
  font-weight: bold;
  color: #C00000;
}
.exam_details {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  font-size: 100%;
  line-height: 150%;
}

.exam_details #main {
  width: 100%;
}

.paperheader {
  width: 50px;
  vertical-align: top;
}

.currenttime {
  font-weight: bold;
  width: 150px
}

.theTime {
  font-weight: bold;
}

.timing {
  vertical-align: top;
}

#paper {
  align: left;
  width: 48px;
  height: 48px;
}

.callout {
  display: none;
  position: absolute;
  font-size: 90%;
	background-color: white;
  width: 290px;

}
#calloutTxt {
  padding: 10px;
	text-align: left;
}
.notch {
	position: absolute;
  top: -10px;
  left: 240px;
	margin: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}
.border-callout {
	border: 1px solid #808080;
	padding: 3px;
 -moz-box-shadow: 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.border-callout .border-notch {
	border-bottom-color: #606060;
	top: -11px;
}
.rubric {
  display: none;
  border: #909090;
  top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  z-index: 1001;
}
.rubric_txt {
  line-height: 160%;
  font-size: 110%;  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;  
}
.rubrictitle {
  background-color: #414141;
  color: white;
  font-size: 150%;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
}
.rubricclose {
  width: 46px;
  height: 34px;
  cursor: pointer;
  float: right;
  background-color: #C74F50;
}
.rubricclose:hover {
  background-color: #C00000;
}
.student:hover {
  background-color: #FFE7A2;
  pointer: hand;
}
#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.3;
}
* html #opaque {
    position: absolute;
}

.popupmenu {
  padding-right: 6px !important;
}

.off {
  display: none;
}

.invigilator_cohort {
  font-size: 100%;
  line-height: 150%;
  text-align: center;
}

.accessdenied {
  background-color: white;
}

.accessdenied #denied {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  width: 48px;
  height: 48px;
}

#logout {
  width: 24px;
  height: 24px;
}

.logout {
  float: right;
  padding-right: 5px
}

.accessdenied span {
  font-weight: bold;
  color: #C00000;
  font-size: 150%;
}

.emergency {
  font-size: 100%;
  float: right;
  line-height: 100%;
  margin-right: 20px;
}

#phone {
  width: 28px;
  height: 28px;
}

#key {
  width: 16px;
  height: 16px;
}

.showpassword {
  font-family: "Lucida Console", Monospace;
}

.store {
  display: none;
}

#checklist {
  padding: 30px 100px 0px 100px;
}
