body {
    font-size:90%;
    background-color:#EEEEEE;
    padding:4px;
}
h1 {
    font-size:120%;
}
input[type=text] {
    margin-bottom: 10px;
}
#duplicateerror {
    display:none;
    color:#C00000;
}