body {
  background-color: #fff;
}
h1 {
  color: #BF0000;
  font-size: 150%;
  margin-left: 70px;
}
hr {
  margin-left: 0;
  text-align: left;
  color: silver;
  background-color: silver;
  height: 1px;
  border: 0;
  width: 400px;
}
p {
  margin-left: 70px;
}

.icon {
  float: left;
  padding-left: 10px;
  width: 60px;
}

.msgline {
  width: 300px;
}
