body {
    font-size: 90%;
    font-size: var(--paper-fontsize, 90%);
    font-family: Arial, sans-sarif;
    font-family: var(--paper-font, 'Arial, sans-sarif');
    background-color: #FFFFFF;
    background-color: var(--paper-backgroundcolour, '#FFFFFF');
    color: #000000;
    color: var(--paper-foregroundcolour, '#000000');
}

td p {
    margin: 0px;
}

.paper {
    padding-left: 5px;
    font-size: 150%;
    color: white;
    font-weight: bold;
}

.group {
    padding-left: 5px;
    color: white;
}

.title {
    font-size: 130%;
    font-weight: bold;
    color: #316AC5;
    color: var(--paper-themecolour, '#316AC5');
    border-top: 1px solid #C0C0C0;
}

.col {
    text-align: center;
    color: #C00000;
    color: var(--paper-notecolour, '#C00000');
}

.phototd {
    vertical-align: top;
    border-top: 1px solid #C0C0C0;
}

.photo {
    background-color: white;
    border-left: 1px solid #F1F1F1;
    border-top: 1px solid #F1F1F1;
    box-shadow: 2px 2px 4px #808080;
    padding: 10px;
    margin-right: 10px;
}

.mcq td {
    vertical-align: top;
    padding: 3px 0;
}

.mcq td.radio {
    width: 36px;
}

.indented {
    margin-left: 36px;
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

select,button,input,textarea {
    background-color: #FFFFFF;
    background-color: var(--paper-backgroundcolour, '#FFFFFF');
    color: #000000;
    color: var(--paper-foregroundcolour, '#000000');
    font-family: Arial, sans-sarif;
    font-family: var(--paper-font, 'Arial, sans-sarif');
}
