body {
  background-color: #F0F0F0;
}
table {
  text-align: left;
}
#modules_list input[type="checkbox"] {
  margin-left: 4px;
}
.mod {
  text-indent: 0;
  margin-left: 18px;
}
#labs_list input[type="checkbox"] {
  margin-left: 22px;
}
.r1 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
}
.r2 {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #FFBD69;
}
.r1disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: white;
  color: #808080
}
.r2disabled {
  text-indent: -23px;
  padding-left: 23px;
  background-color: #DDDDDD;
  color: #808080;
}
extarea, input[type=text], select, textarea, input[type=password] {
  border: 1px solid #ABADB3;
}
.headbar {
  background-color: #EEEEEE;
	border-bottom: 1px solid #E2E4E7;
}
.tab {
  height: 25px;
  padding-left: 6px;
  cursor: default;
}
.tab:hover {
  background-color: #FFE7A2;
}
.tabon {
  height: 25px;
  padding-left: 6px;
  cursor: default;
  background-color: #FFBD69;
}
.tabtitle {
	background-color: #C2D5F3;
	height: 49px;
	font-size: 110%;
	padding-left: 16px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.tabtitle img {
	width: 34px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
}
.tabsection {
  width: 100%;
  font-size: 90%;
  height: 590px;
  border-spacing: 0;
}
.tabsection td {
  padding: 0;
}
.cellpad2 td {
  padding: 2px;
}
.cellpad6 td {
  padding: 6px;
}
.cancel {
  margin-right: 0;
}
.settings {
    display: flex;
    padding-left: 10px
}

.sebkeys {
    width: 95%;
    height: 500px;
    margin: 0 2%;
}

.color-change {
    border: 0.063rem solid #C0C0C0;
    height: 0.938rem;
    width: 3.125rem;
}

.controls {
    border-bottom: #c2d5f3 solid thin;
    border-top: #c2d5f3 solid thin;
    margin-top: 0.313rem;
    text-align: right;
    padding: 0.313rem 1rem;
}

.properties-textbox {
    height: 14.375rem;
    width: 100%;
}

.properties-prologue-textbox {
    height: 33.563rem;
    width: 100%;
}

.labs>.fieldset-elements.vertical,
.modules>.fieldset-elements.vertical,
.reviewers>.fieldset-elements.vertical {
    border: 0.063rem solid #828790;
    height: fit-content;
    min-height: 10rem;
    max-height: 29.25rem;
    overflow-y: auto;
    min-width: 21.875rem;
}

.highlight-checked .component-form-input:has(>.form-element>:checked) {
    background-color: #ffbd69;
}

.labs .campus .fieldset-group-label {
    align-items: center;
    background-image: url('../artwork/new_lab_16.png');
    background-position-x: 0.313rem;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 1.626rem;
    padding: 0 0 0 1.626rem;
}

.properties-tab-header {
    align-items: center;
    background-color: #c2d5f3;
    background-position-x: 0.625rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 2.125rem 2.125rem;
    box-sizing: border-box;
    display: flex;
    font-size: 110%;
    margin: 0;
    min-height: 3.063rem;
    padding: 0 0 0 3.375rem;
    vertical-align: middle;
    width: 100%;
}

.properties-tab-header.changes {
    background-image: url('../artwork/version_icon.png');
}

.properties-tab-header.feedback {
    background-image: url('../artwork/feedback_heading_icon.png');
}

.properties-tab-header.general {
    background-image: url('../artwork/general_heading_icon.png');
}

.properties-tab-header.postscript {
    background-image: url('../artwork/postscript_heading_icon.png');
}

.properties-tab-header.prologue {
    background-image: url('../artwork/prologue_heading_icon.png');
}

.properties-tab-header.reference-material {
    background-image: url('../artwork/toggle_log.png');
}

.properties-tab-header.reviewers {
    background-image: url('../artwork/reviewers_heading_icon.png');
}

.properties-tab-header.rubric {
    background-image: url('../artwork/rubric_heading_icon.png');
}

.properties-tab-header.seb {
    background-image: url('../artwork/safe_exam_browser.png');
}

.properties-tab-header.security {
    background-image: url('../artwork/security_heading_icon.png');
}

.locked-image {
    background-image: url('../artwork/paper_locked_padlock.png');
}

fieldset.component-form-input.general-group.feedback>.fieldset-elements {
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    box-sizing: border-box;
    min-height: 3rem;
    padding: 0 0 0 3.625rem;
    vertical-align: middle;
}

.objectives-report>.fieldset-elements {
    background-image: url('../artwork/feedback_release_icon.png');
}

.questions-report>.fieldset-elements {
    background-image: url('../artwork/question_release_icon.png');
}

.cohort-performance>.fieldset-elements {
    background-image: url('../artwork/cohort_performance_icon.png');
}

.external-examiner>.fieldset-elements {
    background-image: url('../artwork/external_examiner_icon.png');
}

fieldset.component-form-input.hidden {
    display: none;
}

fieldset.component-form-input.general-group.feedback-boundary {
    align-items: flex-start;
    border: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 0 0.313rem 0;
}

fieldset.component-form-input.general-group.feedback-boundary > legend {
    background-color: inherit;
    border-bottom: 0 solid #e2e4e7;
    color: #000000;
    float: left;
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0 0.313rem 0 0;
    width: 10rem;
}
