.updatebutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  margin: auto;
}
.requirements {
  display: flex;
  flex-direction: column;
}
.requirements-item {
  margin: auto;
  width: 50%;
}
.requirementsbody {
  display: flex;
  justify-content: space-between;
}