<br />
<div align="center">
    <table class="table1" cellpadding="0" cellspacing="0">
    	<tr class="fingerprint">
            <td class="image"><img src="../artwork/fingerprint_48.png" width="48" height="48" alt="fingerprint" /></td>
            <td class="imagetext">&nbsp;&nbsp;{{lang.pwdreset}}</td></tr>
    	<tr>
            <td colspan="2" class="info">{{lang.pwdinfo}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table2">
                    <tr>
                        <td class="field">{{lang.msg}}</td>
                        <td class="field">{{data.dispwd}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="ok" colspan="2"><input type="button" name="ok" value="{{lang.ok}}" class="ok" onclick="window.close();" />
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </table>
            </td>
    	</tr>
    </table>
</div>